
html
head
    title Shop Results
body
h1 = 'نتیجه تراکنش'
h1 =' شماره فاکتور' #{verifiedResult.invoiceNumber}
h1 ='تاریخ فاکتور' #{verifiedResult.invoiceDate}
h1 ='شماره پیگیری' #{verifiedResult.traceNumber[0]}
h1=' شماره ارجاع' #{verifiedResult.referenceNumber}
h1=' شماره ترمینال' #{verifiedResult.terminalCode[0]}
h1 ='شماره فروشگاه' #{verifiedResult.merchantCode[0]}
h1 ='مبلغ فاکتور' #{verifiedResult.amount[0]}
button(type="button" onclick='return()')  بازگشت به اپ

script.
     function return(){
         indow.open('lithiumstyle://a.com','_blank')
    }
    

